<div class="right-box">
    				<div id="exhibition_main">
    				    <div id="thumbnail">
    				    <%= image_tag("blank.png") %>
                          <%= image_tag("ofweb_ex2-01_1.png") %>
                         <%= image_tag("blank.png") %>
                            <p><strong>조형전 오픈 페미니즘 워크샵</strong></p>
							<p>오픈페미니즘은 2016년 국민대학교 조형대학 조형전을 맞아 조형관 앞에서 페미니즘을 주제로 워크샵 부스를 개설하였습니다.</p>
							<p>부스 안에는 고정적인 성 역할에 대해 다시 생각해보도록 유도하는 단어 게시판과 컬러 저장소가 갖추어져 있었습니다. 오픈 페미니즘의 회원들은 교내외에서 찾아온 방문객들을 맞이하며 페미니즘 이슈에 관해 이야기를 나누었습니다.</p>
							<section>
									<ul class="actions">
										<li><a href="https://drive.google.com/file/d/0B35f2KNN9ZKHWkxRZVBXLS0weUE/view?usp=sharing" class="btn-flat">details</a>
										</li>
									</ul>
							</section>
						</div>
					</div>
</div>