<div class="right-box">
    				<div id="workshop_main">
    				    <div id="thumbnail">
    				    <%= image_tag("blank.png") %>
                          <%= image_tag("opentalk.jpg") %>
                         <%= image_tag("blank.png") %>
							<p><strong>시각디자인학과 워크샵</strong></p>
							<p>오픈페미니즘은 소모임으로 자리잡기 전인 2016년 9월에 '오픈 페미니즘 1, 2부'라는 토론 행사를 개최하였습니다. 이 자리는 시각디자인학과 안에서 페미니즘 이슈를 논하기 위해 만들어졌으며, 이후 오픈 페미니즘이 소모임으로 발족되는 계기가 되었습니다.</p>
							<section>
									<ul class="actions">
										<li><a href="https://drive.google.com/open?id=0B35f2KNN9ZKHelpreGtmdWJDelU" class="btn-flat">details</a>
										</li>
									</ul>
							</section>
						</div>
					</div>
</div>