		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<div id="header">
						<div class="inner">
							<!-- Logo -->
								<span class="symbol"><a href="index.html" class="logo"><img src="images/ofLogo_w.png" alt="" width="64px"/></a></span><!--<span class="title"></span>-->

							 <!--Nav -->
								<nav style="left:0;">
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</div>

				<!-- Menu -->
					<nav id="menu" style="left:0;">
						<h2>OPEN FEMINISM</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic_5.html">About us</a></li>
							<li><a href="generic.html">Space Kit</a></li>
							<li><a href="generic_2.html">Welcome Kit</a></li>
							<li><a href="generic_3.html">Exhibition</a></li>
							<li><a href="generic_4.html">Workshop</a></li>
						</ul>
					</nav> 

                <!--HowtoSpeak -->
				<div id="HowtoSpeak_main">
						<div class="inner" style="padding:130px 0;margin-top:0;padding-top:0;">
							<div id="flag_wrap" >
                                <img src="images/flag.gif" id="img_flag">
                            </div>
                            <p>우리는 르쉬마 사자니의 'Teach girls bravery not perfection'을 기조로 생성과 소멸이 자유로운 작은 프로젝트 기반의 페미니즘 그룹입니다.우리는 이 과정에서 우리들이 "실패"를 체득하길 바랍니다. </p>
								<ul>
									<li id="li_head">
										<p>오픈페미니즘의 소모임 형식은 다음과 같습니다.</p>
									</li>
									<li>
                                        <p><b>누구나 활동을 조직할 수 있고, 생성과 소멸이 자유로운 개별 활동들</b></p>
									</li>
									<li>
                                        <p><b>함께 이야기 할 수 있는 토대를 마련할 스터디</b></p>
									</li>
									<li>
                                        <p><b>개별 활동들을 묶어줄 전체 일정</b></p>
									</li>
								</ul>
						    <section>
                                <div id="nct_wrap">
                                    <img src="images/nct.png" id="img_nct">
                                </div>
                                <p id="p_bottom">
                                    우리의 게시판은 <br>이 개별활동들을 보다 쉽게 제안하게 합니다. 
                                </p>
                            </section>
                            
						</div>
					</div>
				
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section id="footer_section">
								<!--<h2>contact us</h2>-->
								<ul class="icons">
									<li><a href="mailto:openfeminismkmuvcd@gmail.com" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
									<li><a href="https://www.facebook.com/openfeminism/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://twitter.com/openfeminismkmu" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://github.com/openfeminism" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
							<!--<ul class="copyright" style="margin:30px;">
								<li>&copy; Open Feminism. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>-->
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
            <script>
            //window height
                function heightChange(){
                    var wHeight = $(window).height();
                    $('#wrapper').css({'height':wHeight+'px'});
                }
                window.onload = heightChange;
                window.onresize = heightChange;
                
            var slideIndex = 1;
                showDivs(slideIndex);
                
                function plusDivs(n) {
                    showDivs(slideIndex  += n);
                }

                function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("slides");
                    if  (n > x.length) {slideIndex = 1} 
                    if (n < 1) {slideIndex =  x.length} ;
                    for (i = 0; i < x.length; i++) {
                         x[i].style.display = "none"; 
                    }
                     x[slideIndex-1].style.display = "block"; 
                }
                var myIndex = 0;
                carousel();

                function carousel() {
                    var i;
                    var x = document.getElementsByClassName("slides");
                    for (i = 0; i < x.length; i++) {
                       x[i].style.display = "none";  
                    }
                    myIndex++;
                    if (myIndex > x.length) {myIndex = 1}    
                    x[myIndex-1].style.display = "block";  
                    setTimeout(carousel, 5000);    
                }
            </script>
